In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns

In [3]:
df = pd.read_csv('Mumbai1.csv')

In [38]:
df.head()

,Unnamed: 0,Price,Area,Location,No. of Bedrooms,New/Resale,Gymnasium,Lift Available,Car Parking,Maintenance Staff,24x7 Security,Children's Play Area,Clubhouse,Intercom,Landscaped Gardens,Indoor Games,Gas Connection,Jogging Track,Swimming Pool
0,0,4850000,720,Kharghar,1,0,0,1,1,1,1,0,0,0,0,0,0,0,0
1,1,4500000,600,Kharghar,1,0,1,1,1,1,1,0,1,0,0,0,0,1,1
2,2,6700000,650,Kharghar,1,0,1,1,1,1,1,1,1,1,0,0,0,1,1
3,3,4500000,650,Kharghar,1,0,0,1,1,1,1,0,0,1,1,0,0,0,0
4,4,5000000,665,Kharghar,1,0,0,1,1,1,1,0,0,1,1,0,0,0,0

In [39]:
df.columns

Index(['Unnamed: 0', 'Price', 'Area', 'Location', 'No. of Bedrooms',
       'New/Resale', 'Gymnasium', 'Lift Available', 'Car Parking',
       'Maintenance Staff', '24x7 Security', 'Children's Play Area',
       'Clubhouse', 'Intercom', 'Landscaped Gardens', 'Indoor Games',
       'Gas Connection', 'Jogging Track', 'Swimming Pool'],
      dtype='object')

In [40]:
df.nunique()

Unnamed: 0              6347
Price                    979
Area                    1140
Location                 413
No. of Bedrooms            7
New/Resale                 2
Gymnasium                  2
Lift Available             2
Car Parking                2
Maintenance Staff          2
24x7 Security              2
Children's Play Area       2
Clubhouse                  2
Intercom                   2
Landscaped Gardens         2
Indoor Games               2
Gas Connection             2
Jogging Track              2
Swimming Pool              2
dtype: int64

In [41]:
df.shape

(6347, 19)

In [42]:
df.isna().sum()

Unnamed: 0              0
Price                   0
Area                    0
Location                0
No. of Bedrooms         0
New/Resale              0
Gymnasium               0
Lift Available          0
Car Parking             0
Maintenance Staff       0
24x7 Security           0
Children's Play Area    0
Clubhouse               0
Intercom                0
Landscaped Gardens      0
Indoor Games            0
Gas Connection          0
Jogging Track           0
Swimming Pool           0
dtype: int64

In [ ]:
sp = df.groupby(df['Swimming Pool'])['Unnamed: 0'].count()
px.bar(sp,x=['No','Yes'],y=sp.values,color=['No','Yes'],title='Swimming Pool Availability',
        labels={'x':'status','y':'No. of houses'})

In [ ]:
jt = df.groupby(df['Jogging Track'])['Unnamed: 0'].count()
px.bar(jt,x=['No','Yes'],y=jt.values,color=['No','Yes'],title='Jogging Track Availability',
        labels={'x':'status','y':'No. of houses'})

In [ ]:
gc = df.groupby(df['Gas Connection'])['Unnamed: 0'].count()
px.bar(gc,x=['No','Yes'],y=gc.values,color=['No','Yes'],title='Gas Connection Availability',
        labels={'x':'status','y':'No. of houses'})

In [ ]:
ig = df.groupby(df['Indoor Games'])['Unnamed: 0'].count()
px.bar(ig,x=['No','Yes'],y=ig.values,color=['No','Yes'],title='Indoor Games Availability',
        labels={'x':'status','y':'No. of houses'})

In [ ]:
lg = df.groupby(df['Landscaped Gardens'])['Unnamed: 0'].count()
px.bar(lg,x=['No','Yes'],y=lg.values,color=['No','Yes'],title='Indoor Games Availability',
        labels={'x':'status','y':'No. of houses'})

In [ ]:
ic = df.groupby(df['Intercom'])['Unnamed: 0'].count()
px.bar(ic,x=['No','Yes'],y=ic.values,color=['No','Yes'],title='Indoor Games Availability',
        labels={'x':'status','y':'No. of houses'})

In [ ]:
ch = df.groupby(df['Clubhouse'])['Unnamed: 0'].count()
px.bar(ch,x=['No','Yes'],y=ch.values,color=['No','Yes'],title='Clubhouse Availability',
        labels={'x':'status','y':'No. of houses'})

In [ ]:
sec = df.groupby(df['24x7 Security'])['Unnamed: 0'].count()
px.bar(sec,x=['No','Yes'],y=sec.values,color=['No','Yes'],title='24x7 Security',
        labels={'x':'status','y':'No. of houses'})

In [ ]:
ms = df.groupby(df['Maintenance Staff'])['Unnamed: 0'].count()
px.bar(ms,x=['No','Yes'],y=ms.values,color=['No','Yes'],title='Maintenance Staff',
        labels={'x':'status','y':'No. of houses'})

In [ ]:
cp = df.groupby(df['Car Parking'])['Unnamed: 0'].count()
px.bar(cp,x=['No','Yes'],y=cp.values,color=['No','Yes'],title='Car Parking',
        labels={'x':'status','y':'No. of houses'})

In [ ]:
la = df.groupby(df['Lift Available'])['Unnamed: 0'].count()
px.bar(la,x=['No','Yes'],y=la.values,color=['No','Yes'],title='Lift Available',
        labels={'x':'status','y':'No. of houses'})

In [ ]:
gym = df.groupby(df['Gymnasium'])['Unnamed: 0'].count()
px.bar(gym,x=['No','Yes'],y=gym.values,color=['No','Yes'],title='Gym Availability',
        labels={'x':'status','y':'No. of houses'})

In [ ]:
nr = df.groupby(df['New/Resale'])['Unnamed: 0'].count()
px.bar(nr,x=['New','Resale'],y=nr.values,color=['New','Resale'],title='New or Resale',
        labels={'x':'status','y':'No. of houses'})

In [ ]:
bed = df.groupby(df['No. of Bedrooms'])['Unnamed: 0'].count()
px.bar(bed,x=bed.index,y=bed.values,color=bed.index,title='No. of Bedrooms',
        labels={'x':'No. of bedrooms','y':'No. of houses'})

In [74]:
df.Price.describe()

count    6.347000e+03
mean     1.515401e+07
std      2.015943e+07
min      2.000000e+06
25%      5.300000e+06
50%      9.500000e+06
75%      1.750000e+07
max      4.200000e+08
Name: Price, dtype: float64

In [ ]:
px.scatter(df,x="Area", y="Price")

In [ ]:
px.histogram(df,x="No. of Bedrooms", y="Price",color="No. of Bedrooms")

In [4]:
df.columns

Index(['Unnamed: 0', 'Price', 'Area', 'Location', 'No. of Bedrooms',
       'New/Resale', 'Gymnasium', 'Lift Available', 'Car Parking',
       'Maintenance Staff', '24x7 Security', 'Children's Play Area',
       'Clubhouse', 'Intercom', 'Landscaped Gardens', 'Indoor Games',
       'Gas Connection', 'Jogging Track', 'Swimming Pool'],
      dtype='object')