In [26]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error, mean_absolute_error

from joblib import dump, load

In [27]:
df = pd.read_csv('Mumbai1.csv')

In [28]:
df.Price

0        4850000
1        4500000
2        6700000
3        4500000
4        5000000
          ...
6342     2485000
6343    14500000
6344    14500000
6345     4100000
6346     2750000
Name: Price, Length: 6347, dtype: int64

In [29]:
df.columns

Index(['Unnamed: 0', 'Price', 'Area', 'Location', 'No. of Bedrooms',
       'New/Resale', 'Gymnasium', 'Lift Available', 'Car Parking',
       'Maintenance Staff', '24x7 Security', 'Children's Play Area',
       'Clubhouse', 'Intercom', 'Landscaped Gardens', 'Indoor Games',
       'Gas Connection', 'Jogging Track', 'Swimming Pool'],
      dtype='object')

In [30]:
df.head()

,Unnamed: 0,Price,Area,Location,No. of Bedrooms,New/Resale,Gymnasium,Lift Available,Car Parking,Maintenance Staff,24x7 Security,Children's Play Area,Clubhouse,Intercom,Landscaped Gardens,Indoor Games,Gas Connection,Jogging Track,Swimming Pool
0,0,4850000,720,Kharghar,1,0,0,1,1,1,1,0,0,0,0,0,0,0,0
1,1,4500000,600,Kharghar,1,0,1,1,1,1,1,0,1,0,0,0,0,1,1
2,2,6700000,650,Kharghar,1,0,1,1,1,1,1,1,1,1,0,0,0,1,1
3,3,4500000,650,Kharghar,1,0,0,1,1,1,1,0,0,1,1,0,0,0,0
4,4,5000000,665,Kharghar,1,0,0,1,1,1,1,0,0,1,1,0,0,0,0

In [31]:
X=df[['Area', 'No. of Bedrooms', 'New/Resale', 'Gymnasium', 'Lift Available', 'Car Parking','Maintenance Staff',
       '24x7 Security','Clubhouse', 'Intercom', 'Landscaped Gardens', 'Indoor Games', 'Gas Connection',
       'Jogging Track', 'Swimming Pool']]
y=df[['Price']]

In [32]:
'''scaler = StandardScaler()
scaledX = scaler.fit_transform(X)'''
xtrain,xtest,ytrain,ytest = train_test_split(X,y,test_size=.2)

In [33]:
model = RandomForestRegressor()
model.fit(xtrain,ytrain)
print("score:", model.score(xtest,ytest) * 100)
pred = model.predict(X)
print("mse:",mean_squared_error(y,pred))
print("mae:",mean_absolute_error(y,pred))

C:\Users\ZAID\AppData\Local\Temp\ipykernel_17972\1216676884.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(xtrain,ytrain)

score: 69.0548471372616
mse: 46639297297868.57
mae: 3269257.700723752

In [34]:
dump(model,'model.pkl')

['model.pkl']

In [35]:
model.predict([[1232,2,1,1,0,1,0,0,1,0,0,0,1,1,0]])[0]

c:\Users\ZAID\miniconda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

15627950.000000002